.submit {
    color: $color-dark;
    text-decoration: none;
    font-family: $font-stack;
    padding: 4px 8px;
    background: $color-green;
    border: 1px solid $color-dark-green;
    border-radius: 5px;
    margin: auto;
    display: block;
}