$font-stack: Lucida Sans Unicode;
$asterisk-color: #F35151;
$errors-color: #EB8282;
$color-silver: silver;
$color-gray:#777777;
$color-green:#7EB87E;
$color-dark-green:#4D814D;
$color-dark:#333;